.coat-container {
    margin: 40px auto;
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-evenly;
    align-items: center;
    font-size: 0.8rem;
}

.img-wrapper-home {
    max-width: 220px;
    padding: 8px;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(#e66465, #9198e5);;
}

.gallery-cards-container {
    padding: 20px;
}

.gallery-img-wrapper {
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}
