.coat-container {
    margin: 40px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    font-size: 0.8rem;
}

.coat-wrapper {
    height: 280px;
    padding: 8px;
    margin: 30px;
    border-radius: 10px;
    position: relative;
    background: linear-gradient(#e66465, #9198e5);;
}

.gallery-img-wrapper {
    height: 240px;
    background-position: top;
    background-repeat: no-repeat;
    background-size: contain;
    position: relative;
}


