.emoji-card {
    margin: 10px;
    padding: 10px;
    cursor: pointer;
}

.character {
    font-size: 3em;
}

/*.coat-selected {*/
/*    font-size: 3em;*/
/*}*/

/*.remove-padding {*/
/*    margin: 5px;*/
/*    padding: 7px;*/
/*}*/

/*@media (max-width: 1000px), screen and (orientation: portrait) {*/
/*    .emoji-card {*/
/*        margin: 0 5px;*/
/*        padding: 0 5px;*/
/*    }*/

/*    .character {*/
/*        font-size: 1.5em;*/
/*    }*/
/*}*/
