/* font-family: 'Covered By Your Grace', cursive;
font-family: 'Play', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Special Elite', cursive; */
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

.App {
  text-align: center;
}

.App-logo {
  height: 40px;
}

.logo-name {
  font-family: 'Covered By Your Grace', cursive;
}

