/* font-family: 'Covered By Your Grace', cursive;
font-family: 'Play', sans-serif;
font-family: 'Press Start 2P', cursive;
font-family: 'Shadows Into Light', cursive;
font-family: 'Special Elite', cursive;
font-family: 'Montserrat', sans-serif;*/
* {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

html {
  font-size: 100%;
}

body {
  font-family: 'Montserrat', sans-serif;
}

a {
  text-decoration: none;
}
