/*.gallery-header {*/
/*    display: flex;*/
/*    flex-flow: row nowrap;*/
/*    justify-content: space-between;*/
/*    align-items: flex-start;*/
/*    margin: 40px;*/
/*    text-align: center;*/
/*    color: white;*/
/*}*/

.gallery-emoji-wrapper {
    width: 300px;
    display: flex;
    flex-flow: row wrap;
    justify-content: space-evenly;
    align-items: center;
    margin: 20px 40px;
    z-index: 10;
}
